<p>
  <strong>What:</strong>
  Our goal is to help scientists and engineers become more productive
  by teaching them basic computing skills like program design, version
  control, testing, and task automation. We will focus on teaching
  R programming.  In this two-day boot camp,
  short tutorials will alternate with hands-on practical
  exercises. Participants will be encouraged both to help one another,
  and to apply what they have learned to their own research problems
  during and between sessions.  At the end of the workshop we hope
  that participants will be able to generate their own R package and
  share it with others on github.
</p>
